body {
  padding: 50px;

  background-image: url("website-backgrounds.jpg");
  color: #FFFFFF;
  text-decoration: none;

  ;
}
html{
  background-image: url("website-backgrounds.jpg");
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif#;
    text-decoration: none;
    text-align: center;

}
nav a {
color: #FFFFFF;
}
nav a ul li{
color: #FFFFFF}

.border{
  border: 2px black solid;
  margin-top: 1em;
  padding-left: 1em;
  line-height: 2em;
  font-size: 1.3em;
  text-align: center;
}
a {
  color: #FFFFFF;
  text-decoration: none;
}
a:hover{
  color:#000000;
  font-size: :16px;
  font-weight: bold;
  text-decoration: none;
}
form div input{ div input
  background-color: #7f7a7a;
}
